.dashboard-container {
    height: 160vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.dash-notes-container {
    height: 20vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.all-notes-container {
    height: 120vh;
    width: 80vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: flex-start;
}