.dashboard-container {
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dash-notes-container {
    height: 25vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
}

.all-notes-container {
    width: 50vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: flex-start;
}