.background-colour-icon {
    width: 100%;
    border-radius: 100%;
    cursor: pointer;
    margin-top: 8px;
}

.background-colour-icon:active {
    background-color: lightgray;
}

.color-popper-box {
    width: 100%;
    border-radius: 5px 5px 5px 5px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: 150px;
}